.service-another-card {
    &.prompt-item {
        margin-bottom: 0px;
        text-align: center;
        padding: 20px 20px;
    }
}
.navbar-light .navbar-brand img {
    max-height: 70px;
}
.sticky-nav .navbar-light .navbar-brand img {
    max-height: 60px;
}

.main-nav {
    nav {
        .side-nav {
            .side-item {
                display: flex;
                display: -webkit-flex;
                .search-box,
                .user-btn {
                    top: 0;
                }
                .nav-add-btn {
                    display: flex;
                    display: -webkit-flex;
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-nav nav .side-nav {
        padding: 3px 0 3px;
        margin-left: 10px;
    }
}
.side-nav-responsive .container .container {
    z-index: 100;
}

.side-nav-responsive {
    .acc-buttons {
        position: absolute;
        z-index: 999;
        right: 102px;
        top: 12px;
        a {
            display: inline-block;
            padding-left: 12px;
            padding-right: 12px;
            color: #ff3900;
            height: 30px;
            line-height: 30px;
            &:not(:last-child) {
                border-right: 0.1px dotted #ff3900;
            }
        }
    }
}
.container-max-2 {
    .acc-buttons {
        a {
            display: inline-block;
            padding-left: 12px;
            padding-right: 12px;
            color: #fff;
            &:not(:last-child) {
                border-right: 0.1px dotted #fff;
            }
        }
    }
}

.inner-banner {
    &.banner-size-small {
        height: 174px;
        &::before {
            height: 174px;
        }
        .inner-title {
            padding-top: 75px;
            padding-bottom: 22px;
            position: relative;
            h3,
            ul {
                position: relative;
                z-index: 10;
            }
        }
    }
}

.prompt-search-container {
    padding-bottom: 15px;
    margin-bottom: 30px;
    .seo-form-area {
        background-image: -webkit-gradient(linear, left top, right top, from(#ff2500), to(#ff7100));
        background-image: linear-gradient(to right, #ff2500, #ff7100);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    .seo-form {
        .crazy-select {
            .btn-dropdown-select {
                height: 50px;
                padding: 10px 20px 10px 25px;
                border: none;
                background-color: #ffffff;
                color: #969696;
                font-weight: 400;
                border-radius: 0;
                &:hover {
                    // background-color: #ececec;
                }
            }
            .form-control {
                border: 1px solid #ced4da;
            }
            .form-control {
                height: 42px;
                padding: 6px 10px 6px 10px;
                font-size: 0.8rem;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .prompt-search-container {
        .seo-form-area {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
        .seo-form {
            .crazy-select {
                .btn-dropdown-select {
                    height: 50px;
                    padding: 10px 20px 10px 25px;
                }
                .form-control {
                    border: 1px solid #ced4da;
                }
            }
            .default-btn {
                margin: 0px;
                padding: 8px 45px 8px 15px;
            }
        }
    }
}

@media (min-width: 768px) {
    .prompt-search-container {
        .seo-form-area {
            // border-radius: 5px;
            // -webkit-border-radius: 5px;
            // -moz-border-radius: 5px;
            // -ms-border-radius: 5px;
            // -o-border-radius: 5px;

            .col-topic {
                // padding-left: 9px;
            }
            .col-search {
                padding-right: 90px;
            }
        }
        .seo-form {
            .seo-form-option {
                position: relative;
                .buttons {
                    position: absolute;
                    top: 7px;
                    right: 9px;
                    width: auto;
                    padding-left: 0;
                    padding-right: 0;
                    .default-btn {
                        margin: 0;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .prompt-search-container {
        .seo-form-area {
            // border-radius: 5px;
            // -webkit-border-radius: 5px;
            // -moz-border-radius: 5px;
            // -ms-border-radius: 5px;
            // -o-border-radius: 5px;
        }
        .seo-form {
            margin-bottom: 0;
            .seo-form-option {
                padding-left: 15px;
            }
            .form-group {
                .form-control {
                    height: 42px;
                    padding: 6px 20px 6px 25px;
                    font-size: 0.8rem;
                }
                i {
                    top: 12px;
                }
            }
            .crazy-select {
                .btn-dropdown-select {
                    height: 42px;
                    padding: 6px 40px 6px 25px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .prompt-search-container {
        .seo-form-area {
            // border-radius: 5px;
            // -webkit-border-radius: 5px;
            // -moz-border-radius: 5px;
            // -ms-border-radius: 5px;
            // -o-border-radius: 5px;

            .col-topic {
                // padding-left: 14px;
            }
            .col-search {
                padding-right: 110px;
            }
        }
        .seo-form {
            .seo-form-option {
                .buttons {
                    top: 5px;
                    right: 7px;
                }
            }
        }
    }
}
.topic-children {
    display: none;
    margin-bottom: 15px;
    padding-bottom: 10px;
    .list-header {
        border-top: 1px dotted rgb(223, 223, 223);
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .list-body {
        border-top: 1px dotted rgb(223, 223, 223);
        margin-bottom: 10px;
        padding-top: 10px;
    }
}
.topic-nav,
.topic-children .list-header,
.topic-children .list-body {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
    .topic-item-wrapper {
        padding-left: 10px;
        padding-right: 10px;
        .topic-item {
            margin-bottom: 20px;
            cursor: pointer;
            padding: 10px 20px;
            background-color: #2966be;
            border-radius: 5px;
            -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            position: relative;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                width: 0;
                height: 100%;
                border-radius: 5px;
                background-image: -webkit-gradient(linear, left top, right top, from(#ff2500), to(#ff7100));
                background-image: linear-gradient(to right, #ff2500, #ff7100);
                -webkit-transition: 0.7s;
                transition: 0.7s;
                opacity: 0;
            }
            p {
                color: #ffffff;
                margin-bottom: 0;
                font-weight: 600;
                font-size: 16px;
            }
            span {
                color: #ffffff;
                margin-bottom: 10px;
                font-weight: 600;
            }
            &:hover,
            &.active {
                &::before {
                    opacity: 1;
                    width: 100%;
                }
                p,
                span {
                    color: #ffffff;
                }
            }
        }
    }
}

.topic-children .list-header {
    .topic-item-wrapper {
        .topic-item {
            margin-bottom: 0;
        }
    }
}
.service-another {
    padding-top: 20px;
    .service-another-card.prompt-item {
        height: 100%;
    }
}

.coming-soon-content.service-card {
    padding: 35px 30px;
    border: none;
    p {
        color: #000;
    }
}

.chat-area {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 100%;
    top: 0;
    z-index: 99999;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all;
}

.ai-spin {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;

    .loader {
        background-color: #eee;
        border-radius: 100%;
        position: relative;
        height: 75px;
        width: 75px;
        overflow: hidden;
    }

    .loader .c {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -34% 0 0 -34%;
        width: 68%;
        height: 68%;
        background-color: #fff;
        border-radius: 100%;
        z-index: 3;
    }

    .loader .d {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .loader .d .e {
        position: absolute;
        top: 1%;
        left: 50%;
        margin: 0 0 0 -7.5px;
        height: 14px;
        width: 15px;
        transform: rotate(10deg) skew(20deg);
        -webkit-transform: rotate(10deg) skew(20deg);
        -moz-transform: rotate(10deg) skew(20deg);
        border-radius: 3px;
        background: #999;
    }

    .loader .r {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: -1px;
        bottom: -1px;
        margin-left: -3.75px;
        background-color: #fff;
        width: 7.5px;
    }

    .loader .r1 {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    .loader .r2 {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
    }

    .loader .r3 {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
    }

    .loader .r4 {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
    }

    .label{
        width: 100%;
        margin-top: 15px;
        text-align: center;
    }
}

.chat-area {
    /* let's style that thing */
    .loader {
        background-color: #eee;
        border-radius: 100%;
        position: relative;
        height: 75px;
        width: 75px;
        overflow: hidden;
    }

    .loader .c {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -34% 0 0 -34%;
        width: 68%;
        height: 68%;
        background-color: #fff;
        border-radius: 100%;
        z-index: 3;
    }

    .loader .d {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .loader .d .e {
        position: absolute;
        top: 1%;
        left: 50%;
        margin: 0 0 0 -7.5px;
        height: 14px;
        width: 15px;
        transform: rotate(10deg) skew(20deg);
        -webkit-transform: rotate(10deg) skew(20deg);
        -moz-transform: rotate(10deg) skew(20deg);
        border-radius: 3px;
        background: #999;
    }

    .loader .r {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: -1px;
        bottom: -1px;
        margin-left: -3.75px;
        background-color: #fff;
        width: 7.5px;
    }

    .loader .r1 {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    .loader .r2 {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
    }

    .loader .r3 {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
    }

    .loader .r4 {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
    }

    .chat-preloader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        z-index: 10000;
        background-color: #fff;
    }

    &.open {
        left: 0;
    }
    .chat-header {
        display: flex;
        height: 50px;
        padding: 0 12px;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 4px #f5f8ff;
        border-radius: 5px;
        background: #ffffff;
        border: 1px solid #f4eeff;
        h4 {
            margin-bottom: 0;
        }
        a {
            text-decoration: none;
            font-size: 16px;

            cursor: pointer;
            padding: 2px 10px;
            background-color: #2966be;
            border-radius: 5px;
            color: #ffffff;
            -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            position: relative;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                width: 0;
                height: 100%;
                border-radius: 5px;
                background-image: -webkit-gradient(linear, left top, right top, from(#ff2500), to(#ff7100));
                background-image: linear-gradient(to right, #ff2500, #ff7100);
                -webkit-transition: 0.7s;
                transition: 0.7s;
                opacity: 0;
            }
            &:hover,
            &.active {
                &::before {
                    opacity: 1;
                    width: 100%;
                }
                p,
                span {
                    color: #ffffff;
                }
            }
        }
    }
    &.chat-iframe {
        &.open {
            display: flex;
        }
        .chat-frame-container {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .chat-frame-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
        }
        a {
            position: absolute;
            top: 15px;
            left: 10px;
            z-index: 100;
            color: #420ba1;
            font-size: 40px;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            width: 46px;
            height: 42px;
            background-color: #f4f4fa;
            border-radius: 5px;
            i {
                // color: #420BA1;
                font-size: 40px;
            }
            &:hover {
                background-image: -webkit-gradient(linear, left top, right top, from(#ff2500), to(#ff7100));
                background-image: linear-gradient(to right, #ff2500, #ff7100);
                color: #fff;
            }
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/*
     * This is a nice full CSS3 loader made with LESS
    */
/* u can custom almost everything u need with these variables just bellow */
/* but from here u'll have to understand what u'r dealing with */
/* mixins */
/* animations */
.spin {
    -webkit-animation: spin 750ms infinite linear;
    -moz-animation: spin 750ms infinite linear;
    animation: spin 750ms infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    to {
        -moz-transform: rotate(360deg);
    }
}

.rspin {
    -webkit-animation: rspin 2250ms infinite linear;
    -moz-animation: rspin 2250ms infinite linear;
    animation: rspin 2250ms infinite linear;
}

@keyframes rspin {
    to {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes rspin {
    to {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes rspin {
    to {
        -moz-transform: rotate(-360deg);
    }
}

.inner-banner {
    &.navbg {
        margin-bottom: 30px;
        height: 56px;
        &::before {
            height: 56px;
        }
    }
}

.crazy-radio {
    label {
        margin-right: 15px;
    }
}
@media screen and(min-width: 992px) {
    .inner-banner {
        &.banner-size-small {
            height: 250px;
            background-position: center top;
            &::before {
                height: 250px;
            }
            .inner-title {
                padding-top: 94px;
                padding-bottom: 55px;
                position: relative;
            }
        }
    }
    &.navbg {
        height: 80px;
        &::before {
            height: 80px;
        }
    }
    .chat-area {
        &.chat-iframe {
            a {
                top: 20px;
                left: 20px;
            }
        }
    }
}

@media screen and(min-width: 1200px) {
    .inner-banner {
        &.banner-size-small {
            height: 270px;
            background-position: center top;
            &::before {
                height: 270px;
            }
            .inner-title {
                padding-top: 104px;
                padding-bottom: 65px;
                position: relative;
            }
        }
        &.navbg {
            height: 80px;
            &::before {
                height: 80px;
            }
        }
    }
}
