.chat-history-item {
  max-width: 100%;
}

.chat_form {
  border-radius: 20px;
  margin-right: 0px;
  background: #ffffff;
  border: 1px solid #f4eeff;
  box-shadow: 0px 4px 4px #f5f8ff;
  border-radius: 37px;
  min-height: 48px;
  max-height: 80vh;
  width: 100%;
  padding: 10px 100px;
  padding-left: 25px;
  height: auto;
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  -ms-border-radius: 37px;
  -o-border-radius: 37px;
}

.chat_form .form-control {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.chat_form .form-control {
  background: #ffffff;
  border: none;
  min-height: 18px;
  height: auto;
  max-height: calc(80vh - 24px);
  padding: 0px 0;
  box-sizing: border-box;
  padding-top: 3px;
  cursor: text;
}

.chat_form .form-control:empty::before {
  content: attr(placeholder);
  color: #989898;
  font-size: 14px;
}

.chat_form .form-control.scroll-height {
  overflow-y: auto;
  max-height: calc(80vh - 24px);
}

.message-wrapper .prompt-label {
  float: left;
  margin-left: -13px;
  margin-right: 10px;
  margin-top: 1px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #eeeeee;
  color: #5a078b;
  font-size: 10px;
  z-index: 100;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.message-wrapper .prompt-label span {
  display: inline-block;
}

.message-wrapper .prompt-label a {
  font-size: 8px;
  color: #000;
  text-decoration: none;
  margin-left: 6px;
}

.message-wrapper .prompt-label + .form-control:focus::before {
  animation: chat-writter 1s infinite;
  -webkit-animation: chat-writter 1s infinite;
  -moz-animation: chat-writter 1s infinite;
  -o-animation: chat-writter 1s infinite;
}

.message-wrapper .chat-message-block {
  max-height: calc(80vh - 24px);
}

.message-wrapper .chat-message-block .chat-message-header {
  position: relative;
  width: 100%;
  height: 0;
}

.message-wrapper .chat-message-block .chat-message-header .prompt-top-label {
  position: absolute;
  top: -32px;
  left: -25px;
  align-items: center;
  align-content: center;
  display: flex;
}

.message-wrapper .chat-message-block .chat-message-header .prompt-top-label .label-box {
  padding: 6px 12px;
  display: inline-block;
  color: #5a078b;
  background-color: #eeeeee;
  font-size: 12px;
  z-index: 100;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.message-wrapper .chat-message-block .chat-message-header .prompt-top-label a {
  font-size: 8px;
  color: #000;
  text-decoration: none;
  margin-left: 6px;
}

.message-wrapper .chat-message-block .chat-message-header .prompt-top-label .criteria-toggle-button {
  margin-left: 10px;
  cursor: pointer;
  padding: 5px 10px;
}

.message-wrapper .chat-message-block .chat-message-body {
  width: 100%;
  max-height: calc(80vh - 24px);
  overflow-y: auto;
}

.message-wrapper .chat-message-block .chat-message-body .chat-input-wrapper {
  min-height: 28px;
  display: flex;
  align-items: center;
  align-content: center;
}

.message-wrapper .chat-message-block .chat-message-body .chat-input-wrapper textarea.chat-message-input {
  width: 100%;
  border: none;
  outline: none;
  height: 24px;
}

.message-wrapper .chat-message-block .chat-message-body .criteria-wrapper {
  width: 100%;
}

.message-wrapper .chat-message-block .chat-message-body .criteria-wrapper .prompt-criteria-wrapper {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.message-wrapper .chat-message-block .chat-message-body .criteria-wrapper .prompt-criteria-wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 4px;
  border-top: 1px dotted #f4eeff;
}

.message-wrapper .chat-message-block .chat-message-body .criteria-wrapper .prompt-criteria-wrapper label {
  position: absolute;
  top: -22px;
  left: -12px;
  padding: 5px 12px;
  display: inline-block;
  align-items: center;
  align-content: center;
  background-color: #ffffff;
  color: #171717;
  font-size: 12px;
  z-index: 100;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.message-wrapper .chat-message-block .chat-message-body .criteria-wrapper .prompt-criteria-wrapper .inp-criteria {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.message-wrapper .chat-message-block .chat-message-body .criteria-wrapper .prompt-criteria-wrapper .inp-criteria {
  width: 100%;
  border: none;
  outline: none;
}

.message-wrapper .chat-message-block .chat-message-body .criteria-wrapper .prompt-criteria-wrapper:not(:last-child) .inp-criteria:hover, .message-wrapper .chat-message-block .chat-message-body .criteria-wrapper .prompt-criteria-wrapper:not(:last-child) .inp-criteria:focus {
  padding-left: 10px;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 4px #f5f8ff;
}

.message-wrapper .chat-message-block .chat-message-body .criteria-wrapper #prompt-criteria-wrapper-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.message-wrapper.has-criteria .message-input:hover, .message-wrapper.has-criteria .message-input:focus {
  box-shadow: 0px 4px 4px #f5f8ff;
  padding-left: 10px;
}

.message-wrapper.has-criteria .criteria-wrapper {
  display: none;
}

.message-wrapper.has-criteria.ot-criteria .message-input, .message-wrapper.has-criteria.show-criteria .message-input {
  min-height: 46px;
}

.message-wrapper.has-criteria.ot-criteria .criteria-wrapper, .message-wrapper.has-criteria.show-criteria .criteria-wrapper {
  display: block;
}

.chat-message-form {
  position: relative;
}

.message-block {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.chat .chat-body .messages .chats .message-content {
  padding: 0px 0px;
}

.chat .chat-body .messages .chats .message-content .inner-content {
  padding: 14px 20px;
  border-radius: 20px 20px 0 20px;
  -webkit-border-radius: 20px 20px 0 20px;
  -moz-border-radius: 20px 20px 0 20px;
  -ms-border-radius: 20px 20px 0 20px;
  -o-border-radius: 20px 20px 0 20px;
}

.chat .chat-body .messages .chats .chat-action-btns {
  margin-left: 0.5rem;
}

.chat .chat-body .messages .chats.user {
  margin-left: auto;
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}

.chat .chat-body .messages .chats.user .chat-time {
  justify-content: flex-end;
}

.chat .chat-body .messages .chats.user .message-content {
  background-color: #5a078b;
  color: #fff;
  border-radius: 20px 20px 0 20px;
  -webkit-border-radius: 20px 20px 0 20px;
  -moz-border-radius: 20px 20px 0 20px;
  -ms-border-radius: 20px 20px 0 20px;
  -o-border-radius: 20px 20px 0 20px;
}

.chat .chat-body .messages .chats.user .message-content .inner-content {
  padding: 14px 20px;
  border-radius: 20px 20px 0 20px;
  -webkit-border-radius: 20px 20px 0 20px;
  -moz-border-radius: 20px 20px 0 20px;
  -ms-border-radius: 20px 20px 0 20px;
  -o-border-radius: 20px 20px 0 20px;
}

.chat .chat-body .messages .chats.user .chat-action-btns {
  order: 2;
  -webkit-order: 2;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
}

.chat .chat-body .messages .chats.user .chat-action-btns .chat-action-col {
  width: 100%;
  text-align: center;
}

.chat .chat-body .messages .chats.user .chat-action-btns .chat-read-col {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  padding-bottom: 22px;
  color: #008024;
}

.chat .chat-body .messages .chats.user .chat-content {
  order: 1;
  -webkit-order: 1;
}

.chat .chat-body .messages .chats.user .chat-avatar {
  padding: 8px 0px 0 15px;
}

.chat .chat-body .messages .chats.user .message-content .chat-time {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.chat .chat-body .messages .chats.user .message-content .chat-time .time {
  color: #909090;
}

.chat .chat-body .messages .chats.user .message-content .chat-time .time i {
  color: #a3c2ff;
}

.darkmode .chat .chat-body .messages .chats.chat-right .message-content {
  background-color: #8480ff;
}

.chat-history-item {
  min-width: 100%;
}

.service-another-card.prompt-item {
  margin-bottom: 0px;
  text-align: center;
  padding: 20px 20px;
}

.chat-history-item .d-flex {
  max-width: 100%;
}

.reply-writting .chat-profile-nam {
  display: flex;
}

@keyframes chat-writter {
  0% {
    border-left: 1px solid #989898;
  }
  50% {
    border-left: 2px solid transparent;
  }
  100% {
    border-left: 2px solid transparent;
  }
}

@-webkit-keyframes chat-writter {
  0% {
    border-left: 1px solid #989898;
  }
  50% {
    border-left: 2px solid transparent;
  }
  100% {
    border-left: 2px solid transparent;
  }
}

@-moz-keyframes chat-writter {
  0% {
    border-left: 1px solid #989898;
  }
  50% {
    border-left: 2px solid transparent;
  }
  100% {
    border-left: 2px solid transparent;
  }
}

@-o-keyframes chat-writter {
  0% {
    border-left: 1px solid #989898;
  }
  50% {
    border-left: 2px solid transparent;
  }
  100% {
    border-left: 2px solid transparent;
  }
}
