.chat-history-item {
    max-width: 100%;
}

.chat_form {
    border-radius: 20px;
    margin-right: 0px;
    background: #ffffff;
    border: 1px solid #f4eeff;
    box-shadow: 0px 4px 4px #f5f8ff;
    border-radius: 37px;
    min-height: 48px;
    max-height: 80vh;
    width: 100%;
    padding: 10px 100px;
    padding-left: 25px;
    height: auto;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    -ms-border-radius: 37px;
    -o-border-radius: 37px;
}
.chat_form {
    .form-control {
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    .form-control {
        background: #ffffff;
        border: none;
        min-height: 18px;
        height: auto;
        max-height: calc(80vh - 24px);
        padding: 0px 0;
        box-sizing: border-box;
        padding-top: 3px;
        cursor: text;
        &:empty::before {
            content: attr(placeholder);
            color: #989898;
            font-size: 14px;
        }
        &.scroll-height {
            overflow-y: auto;
            max-height: calc(80vh - 24px);
        }
    }
}
.message-wrapper {
    .prompt-label {
        float: left;
        margin-left: -13px;
        margin-right: 10px;
        margin-top: 1px;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        align-content: center;
        background-color: #eeeeee;
        color: #5a078b;
        font-size: 10px;
        z-index: 100;
        position: relative;
        //padding: 4px 20px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .prompt-label {
        span {
            display: inline-block;
        }
        a {
            font-size: 8px;
            color: #000;
            text-decoration: none;
            margin-left: 6px;
        }
        & + .form-control {
            &:focus {
                &::before {
                    // padding-left: 2px;

                    animation: chat-writter 1s infinite;
                    -webkit-animation: chat-writter 1s infinite;
                    -moz-animation: chat-writter 1s infinite;
                    -o-animation: chat-writter 1s infinite;
                }
            }
        }
    }

    .chat-message-block {
        // overflow-y: auto;
        max-height: calc(80vh - 24px);
        .chat-message-header {
            position: relative;
            width: 100%;
            height: 0;
            .prompt-top-label {
                position: absolute;
                top: -32px;
                // left: 50%;
                left: -25px;

                align-items: center;
                align-content: center;

                display: flex;
                // position: relative;
                //padding: 4px 20px;
            }

            .prompt-top-label {
                .label-box {
                    padding: 6px 12px;
                    display: inline-block;
                    color: #5a078b;
                    background-color: #eeeeee;
                    font-size: 12px;
                    z-index: 100;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;
                }
                a {
                    font-size: 8px;
                    color: #000;
                    text-decoration: none;
                    margin-left: 6px;
                }
                .criteria-toggle-button {
                    margin-left: 10px;
                    cursor: pointer;
                    padding: 5px 10px;
                }
            }
        }
        .chat-message-body {
            width: 100%;
            max-height: calc(80vh - 24px);
            overflow-y: auto;
            .chat-input-wrapper {
                min-height: 28px;
                display: flex;
                align-items: center;
                align-content: center;
                textarea.chat-message-input {
                    width: 100%;
                    border: none;
                    outline: none;
                    height: 24px;
                }
            }
            .criteria-wrapper {
                width: 100%;
                .prompt-criteria-wrapper {
                    transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                }
                .prompt-criteria-wrapper {
                    position: relative;
                    margin-top: 30px;
                    width: 100%;
                    padding-bottom: 0px;
                    padding-top: 4px;
                    border-top: 1px dotted #f4eeff;

                    label {
                        position: absolute;
                        top: -22px;
                        left: -12px;

                        padding: 5px 12px;
                        display: inline-block;
                        align-items: center;
                        align-content: center;
                        background-color: #ffffff;
                        color: #171717;
                        font-size: 12px;
                        z-index: 100;
                        //padding: 4px 20px;
                        // transform: translate(-50%, 0);
                        border-radius: 15px;
                        -webkit-border-radius: 15px;
                        -moz-border-radius: 15px;
                        -ms-border-radius: 15px;
                        -o-border-radius: 15px;
                        // -webkit-transform: translate(-50%, 0);
                        // -moz-transform: translate(-50%, 0);
                        // -ms-transform: translate(-50%, 0);
                        // -o-transform: translate(-50%, 0);
                    }
                    .inp-criteria {
                        transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        -ms-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                    }
                    .inp-criteria {
                        width: 100%;
                        border: none;
                        outline: none;
                        // border-bottom: 1px dotted #f4eeff;

                        &:hover,
                        &:focus {
                            // box-shadow: 0px 4px 4px #f5f8ff;
                            // background-color: #fdfdfd;
                        }
                    }
                    &:not(:last-child) {
                        .inp-criteria {
                            &:hover,
                            &:focus {
                                padding-left: 10px;
                                background-color: #fdfdfd;
                                box-shadow: 0px 4px 4px #f5f8ff;
                            }
                        }
                    }
                }
                #prompt-criteria-wrapper-0 {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
    &.has-criteria {
        .message-input {
            // min-height: 46px;
            &:hover,
            &:focus {
                box-shadow: 0px 4px 4px #f5f8ff;
                // background-color: #f3f3f3;
                padding-left: 10px;
            }
        }
        .criteria-wrapper {
            display: none;
        }
        &.ot-criteria,
        &.show-criteria {
            .message-input {
                min-height: 46px;
            }
            .criteria-wrapper {
                display: block;
            }
        }
    }
}

.chat-message-form {
    position: relative;
}

.message-block {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.chat .chat-body {
    .messages {
        .chats {
            .message-content {
                padding: 0px 0px;
                .inner-content {
                    padding: 14px 20px;

                    border-radius: 20px 20px 0 20px;
                    -webkit-border-radius: 20px 20px 0 20px;
                    -moz-border-radius: 20px 20px 0 20px;
                    -ms-border-radius: 20px 20px 0 20px;
                    -o-border-radius: 20px 20px 0 20px;
                }
            }
            .chat-action-btns {
                margin-left: 0.5rem;
            }
            &.user {
                margin-left: auto;
                flex-direction: row-reverse;
                -webkit-flex-direction: row-reverse;
                .chat-time {
                    justify-content: flex-end;
                }
                .message-content {
                    background-color: #5a078b;
                    color: #fff;
                    border-radius: 20px 20px 0 20px;
                    -webkit-border-radius: 20px 20px 0 20px;
                    -moz-border-radius: 20px 20px 0 20px;
                    -ms-border-radius: 20px 20px 0 20px;
                    -o-border-radius: 20px 20px 0 20px;
                }
                .message-content {
                    .inner-content {
                        padding: 14px 20px;

                        border-radius: 20px 20px 0 20px;
                        -webkit-border-radius: 20px 20px 0 20px;
                        -moz-border-radius: 20px 20px 0 20px;
                        -ms-border-radius: 20px 20px 0 20px;
                        -o-border-radius: 20px 20px 0 20px;
                    }
                }

                .chat-action-btns {
                    order: 2;
                    -webkit-order: 2;
                    display: flex;
                    display: -webkit-flex;
                    flex-wrap: wrap;
                    -webkit-flex-wrap: wrap;
                    justify-content: center;
                    -webkit-justify-content: center;
                }
                .chat-action-btns {
                    .chat-action-col {
                        width: 100%;
                        text-align: center;
                    }
                    .chat-read-col {
                        display: flex;
                        display: -webkit-flex;
                        align-items: flex-end;
                        -webkit-align-items: flex-end;
                        padding-bottom: 22px;
                        color: #008024;
                    }
                }
                .chat-content {
                    order: 1;
                    -webkit-order: 1;
                }
                .chat-avatar {
                    padding: 8px 0px 0 15px;
                }
                .message-content {
                    .chat-time {
                        justify-content: flex-start;
                        -webkit-justify-content: flex-start;
                        .time {
                            color: #909090;
                            i {
                                color: #a3c2ff;
                            }
                        }
                    }
                }
            }
        }
    }
}
.darkmode .chat .chat-body .messages .chats.chat-right .message-content {
    background-color: #8480ff;
}
.chat-history-item {
    min-width: 100%;
}

.service-another-card {
    &.prompt-item {
        margin-bottom: 0px;
        text-align: center;
        padding: 20px 20px;
    }
}

.chat-history-item{
    .d-flex{
        max-width: 100%;
    }
}

.reply-writting{
    .chat-profile-nam{
        display: flex;
    }
}

@keyframes chat-writter {
    0% {
        border-left: 1px solid #989898;
    }
    50% {
        border-left: 2px solid transparent;
    }
    100% {
        border-left: 2px solid transparent;
    }
}

@-webkit-keyframes chat-writter {
    0% {
        border-left: 1px solid #989898;
    }
    50% {
        border-left: 2px solid transparent;
    }
    100% {
        border-left: 2px solid transparent;
    }
}

@-moz-keyframes chat-writter {
    0% {
        border-left: 1px solid #989898;
    }
    50% {
        border-left: 2px solid transparent;
    }
    100% {
        border-left: 2px solid transparent;
    }
}

@-o-keyframes chat-writter {
    0% {
        border-left: 1px solid #989898;
    }
    50% {
        border-left: 2px solid transparent;
    }
    100% {
        border-left: 2px solid transparent;
    }
}
